In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy as sp
import seaborn as sns
%matplotlib inline
sns.set()
%precision 3

'%.3f'

In [3]:
cd ..

/work/free_jupyter

In [4]:
cd sample

/work/free_jupyter/sample

In [5]:
click_data = pd.read_csv('3-10-1-click_data.csv')
click_data

  color  click  freq
0  blue  click    20
1  blue    not   230
2   red  click    10
3   red    not    40

In [7]:
cross = pd.pivot_table(
        data = click_data,
        values = "freq",
        aggfunc = "sum",
        index = "color",
        columns = "click")

cross

click  click  not
color
blue      20  230
red       10   40

In [9]:
sp.stats.chi2_contingency(cross, correction=False)#chi-square statistic, p_value, degree of freedom, and Expectations

(6.666666666666666, 0.009823274507519247, 1, array([[ 25., 225.],
        [  5.,  45.]]))