## 対応のあるt検定・対応のないt検定

・**対応のあるt検定**

同じ対象を、異なった条件で二回測定して、その違いをみる際の検定

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy as sp
import seaborn as sns
%matplotlib inline
sns.set()
%precision 3

'%.3f'

In [2]:
cd ..

/work/free_jupyter

In [3]:
cd sample

/work/free_jupyter/sample

In [4]:
paired_test_data = pd.read_csv('3-9-1-paired-t-test.csv')
paired_test_data

  person medicine  body_temperature
0      A   before              36.2
1      B   before              36.2
2      C   before              35.3
3      D   before              36.1
4      E   before              36.1
5      A    after              36.8
6      B    after              36.1
7      C    after              36.8
8      D    after              37.1
9      E    after              36.9

In [6]:
before = paired_test_data.query(
    'medicine == "before"')['body_temperature']
after = paired_test_data.query(
    'medicine == "after"')['body_temperature']

before = np.array(before)
after = np.array(after)

diff = after - before
diff

array([ 0.6, -0.1,  1.5,  1. ,  0.8])

In [7]:
sp.stats.ttest_1samp(diff, 0)

Ttest_1sampResult(statistic=2.901693483620596, pvalue=0.044043109730074276)

In [8]:
sp.stats.ttest_rel(after, before)

Ttest_relResult(statistic=2.901693483620596, pvalue=0.044043109730074276)

In [11]:
#対応のないt検定
sp.stats.ttest_ind(after, before, equal_var = False)

Ttest_indResult(statistic=3.1557282344421034, pvalue=0.013484775682079892)